services:
  php-env:  # Service pour l'environnement PHP
    build:
      context: .  # Utilisation du Dockerfile présent dans le même répertoire
      dockerfile: Dockerfile 
    volumes:
      - ./src:/var/www/html  # Montage du répertoire local 'src' vers le dossier HTML du serveur web
    ports:
      - "9000:80"  # Exposition du port 80 du conteneur sur le port 9000 de l'hôte
    depends_on:
      mysql_db:  # Dépendance au service MySQL, démarrage seulement si MySQL est sain
        condition: service_healthy

  mysql_db:  # Service de base de données MySQL
    image: mysql:latest  # Utilisation de l'image officielle MySQL
    restart: always  # Redémarrage automatique en cas d'échec
    environment:
      MYSQL_ROOT_PASSWORD: root  # Mot de passe root de MySQL
      MYSQL_DATABASE: mydb  # Création automatique de la base 'mydb'
      MYSQL_USER: user  # Création d'un utilisateur MySQL
      MYSQL_PASSWORD: password  # Mot de passe de l'utilisateur
    volumes:
      - ./login_sample_db.sql:/docker-entrypoint-initdb.d/login_sample_db.sql  # Initialisation de la base de données avec un script SQL
    healthcheck:  # Vérification de l'état du service MySQL
      test: ["CMD", "mysqladmin", "ping", "-h", "mysql_db"]  # Test de connexion
      interval: 10s  # Vérification toutes les 10 secondes
      retries: 3  # Trois tentatives avant de considérer le service comme défaillant
      start_period: 10s  # Attente initiale de 10 secondes avant de commencer les vérifications

  phpmyadmin:  # Service pour l'interface d'administration PHPMyAdmin
    image: phpmyadmin:latest  # Utilisation de l'image officielle PHPMyAdmin
    restart: always  # Redémarrage automatique en cas d'échec
    ports:
      - "9001:80"  # Exposition du port 80 du conteneur sur le port 9001 de l'hôte
    environment:
      PMA_ARBITRARY: 1  # Permet la connexion à n'importe quel serveur MySQL
    depends_on:
      mysql_db:  # Attente du bon fonctionnement du service MySQL
        condition: service_healthy
  nginx:
    image: nginx:latest
    restart: always
    ports:
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/certs:/etc/nginx/certs
    depends_on:
      - php-env

volumes:
  mysql_data:  # Définition d'un volume nommé (non utilisé dans la configuration actuelle)
